.item {
  display: flex;
  padding: 1rem 0;
}

.details h3 {
  margin: 0.5rem 1rem;
}

.details p {
  margin: 0.2rem 1rem;
  opacity: 0.8;
}

@media only screen and (min-width: 650px) {
  .item {
    width: fit-content;
    margin: 1.5rem 0;
    border-radius: 20px;
    min-width: 280px;
    padding: 0.5rem;
  }
  .details h3 {
    margin: 5px 20px;
  }

  .details p {
    margin: 4px 20px;
    opacity: 0.8;
  }
  .item:hover {
    background-color: #504f4fa6;
  }
}
