.root {
  margin: 0;
  min-width: 0;
  max-width: 46rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: rgba(255, 255, 255, 0.955);
  font-size: 1.2rem;
  justify-content: center;
}

.container h1 {
  color: #fff;
}

.container li {
  margin-left: 1.5rem;
}

.container a {
  color: #fff;
  text-decoration: underline #0a600a;
}

.container img {
  width: 100%;
  height: auto;
}

.container figure {
  margin-left: 0;
  margin-right: 0;
}

.container figcaption {
  opacity: 0.6;
  text-align: center;
  font-size: 1rem;
}

/*# Mapping Style */

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.strikethrough {
  text-decoration: line-through;
}

.bookmark {
  display: block;
  margin-bottom: 10px;
}

.back {
  display: inline-block;
  margin-bottom: 20px;
}

.code {
  font-family: monospace;
  background-color: rgb(15, 8, 28);
  padding: 2px 4px;
  border-radius: 2px;
}

.italic {
  font-style: italic;
}

.pre {
  background-color: rgb(15, 8, 28);
  padding: 2px 4px;
  margin: 20px 0;
  line-height: 2.3;
  border-radius: 12px;
  overflow: auto;
}

.code_block {
  padding: 20px;
  font-family: monospace;
  display: flex;
  flex-wrap: wrap;
}
