.root {
  margin-top: 2.5rem;
}

.posts {
  all: unset;
  list-style-type: none;
}

.post {
  margin: 1.5rem 0;
}

.postDate {
  color: #fff;
  opacity: 0.4;
}

.postTitle {
  color: #fff;
  opacity: 1;
  margin-top: 2.5px;
}
